
.drawer {
   border: 0px !important;
   width: 36rem;
}

.drawerForm {
   margin: $margin-normal;
}

.iconWhite {
    position: absolute;
    top: 0.5*$margin-normal;
    right: 0.5*$margin-normal;
    > * {
      color: #FFF !important;
    }
            
}